body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
}

.main-container {
  /* border: 1px solid red; */
  width: 40vw;
  height: 60vh;
  background-color: rgb(205, 207, 188);
}
.main-header {
  color: rgb(64, 42, 42);
  padding: 0;
  margin: 0;
  border-bottom: 2px solid rgb(64, 42, 42);
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
}

.main-sub {
  padding-top: 0.4rem;
  margin: 0;
  display: flex;
  justify-content: center;
  font-size: 1rem;
}

.input {
  /* border: 1px solid red; */
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#guessbox {
  width: 10rem;
  height: 1.5rem;
}

#submit {
  width: 5rem;
  height: 1.9rem;
}

.notification {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
  margin-top: 3rem;
  height: 2rem;
}

.counter-box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

#reset-btn-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}

.reset-btn {
  width: 6rem;
  height: 2rem;
  background-color: rgb(182, 212, 34);
  border: none;
  border-radius: 2px;
  box-shadow: 3px 5px 10px rgba(255, 255, 0, 0.312);
}
.dice {
  display: flex;
  flex-direction: row;
}
li {
  list-style: none;
  margin: 0.2rem;
  padding: 0.3rem;
  background-color: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.5rem;
  width: 1.5rem;
}

@media only screen and (min-device-width: 300px) and (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 3) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
  }

  .main-container {
    /* border: 1px solid red; */
    width: 100vw;
    height: 98vh;
    background-color: rgb(205, 207, 188);
  }
}
